*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
  min-height: 100vh;
  background: linear-gradient(180deg, #ff0040 0%, #FFFFFF 100%);
  color: #111827;
  }